* {
  box-sizing: border-box;
}


.nav{
  background-color: #F55A5A;
  padding: 20px 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

}
.nav h1{
  margin: 0%;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color: white;
text-shadow: 2px 3px 5px black;

}
.container{
border-radius: 10px;

  border: 1px solid red;
  /* padding: 10px; */
  margin-right: auto;
  margin-left: auto;
  min-height: 60vh;
  text-align: center;
  max-width: 72vw;
  padding-bottom: 15px;
}
.card{
  display: flex;
  padding: 10px;
  width: 100%;
  border-bottom: 1px solid rgb(214, 211, 211);
  
}

.img{
  max-width: 20%;
  min-height: 20vh;
  aspect-ratio: 3/2;
  border-radius: 10px;

}
.data{
  text-align: left;
  padding: 10px ;
  margin: 0px 10px;

  
}
.locationstar{
  width: 20px;
  margin: 15px 5px 15px 0px;

}
.location-wrap{
display: flex;  

}
@media screen and (max-width: 600px) {

.container{
  
  max-width: 100%;

}
.card{
  max-width: 190%;
  flex-direction: column;
  margin: 0px auto;
  text-align: center;

}
.img{
  max-width: 100%;



}
.data{
  padding: 1px 10px ;
  

  
}
.name{
  margin: 0px 0px 15px 0px;
}
.date{
  margin-top: 10px;

}
.title{
  padding-top: 0%;
  line-height: 3vh;
}
}

